<!--sections/ Block Image -->
{% assign section = section.settings %}
<div class="page-width" {{ section.shopify_attributes }}>
    {% content_for "block", type: "table-header", id: "table-header" %}
   <div class="block-image">
    <img src="{{ section.image | image_url: width: 1500 }}"
     alt="{{ section.image.alt | escape }}"
     height="{{ section.image.height }}"
     width="{{ section.image.width }}">
   </div>
</div>
{% schema %}
{   "name": "Block Image",  
    "tag": "section",
    "class": "block-image",
    "settings": [   
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],

 
}
{% endschema %}